body{
    background-color: rgb(37, 37, 37);
}
.container{
    width: 14em;
    height: 15em;
    background-color: rgb(66, 110, 96);
    flex-wrap: wrap;
    border-radius: 20px;
    
    display: flex;
    align-items: center;
    margin: 0 auto;
    
   }
   .container:hover{
    transition: transform 0.1s;
    transform: scale(1.01);
    }
    
  
   
#wage{
    position: relative;
    top: 2em;
    height: 25px;
    left: 25px;
    background-color: rgb(144, 204, 204);
   border: none;
   border-radius:5px ;
   box-shadow: 0 0 0 0;
   outline: 0;
}

#hour{
    position: relative;
    top: 0em;
    height: 25px;
    background-color: rgb(144, 204, 204);
    border: none;
    left: 25px;
    border-radius: 5px;
    box-shadow: 0 0 0 0;
    outline: 0;
 }

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}


#start{
    position: relative;
    top: -3em;
    left: 6em;
    border-radius: 5px;
    background-color: rgb(133, 133, 161);
    color: rgb(17, 39, 58);
   border-color: rgb(59, 56, 80);
    
}#start:hover{
    cursor: pointer;
}

p{
    position: relative;
}
#textarea{
    position: relative;
    width: 3em;
    top: -200px;
    height: 10px;
    top: 20px;

}
